<?xml version="1.0" encoding="utf-8"?>
<ecommerceConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="10.1.6500.0" defaultProductTypesInstalled="True" defaultProductTypeFieldsInstalled="True" shareShoppingCartInDomainSites="True">
	<supportedCurrencies>
		<add culture="en-gb" countryIsoCode="EN" name="GBP" config:flags="1" />
	</supportedCurrencies>
</ecommerceConfig>